
.pokemons{
    list-style:none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  } 
  
.normal {
    background-color: #a6a877;
}
.grass{
  background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}


.titulo{
  font-family: 'Bebas Neue';
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 10px;
  font-family: fantasy;
  background-color:#6e49ea;
  border-radius: 20px;
}




.pokemon{
  background-color: #a98ff0;
  margin: 2px;
  padding: 1rem;
    color: #ffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  }
  .pokemon .detail img{
    max-width:90% ;
    height: 85px;
  }
  .pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
  }
  .pokemon .types{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .pokemon .number{
    color: black;
  opacity: .5;
  text-align: right;
}
.pokemon .name{
  color:#ffff;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: capitalize;
  }
  .pokemon .detail .types .type{
  color: #ffff;
  padding:.25rem .5rem;
  margin: .25rem;
  font-size: .825rem;
  border-radius: 20px;
  filter:brightness(1.3);
  text-align: center;
  } 
  

.container {
  display: flex;
  justify-content: space-between; /* Align items with space between them */
  align-items: center; /* Center vertically */
  width: 100%;
  
}

.pagination {
  
}

.pagination button {
  font-size: 22px;
  background-color: #77c850; 
  color: aliceblue;
  border-radius: 10px;
  border: none;
  
}

.backbutton {
  
  order: -1; 
}

.backbutton button {
  font-size: 22px;
  background-color: #77c850;
  color: aliceblue;
  border-radius: 10px;
  border:none
}

.backbutton button:hover {
  background-color: #d373ff; /* Altera a cor da borda quando o mouse está sobre o botão */
}

.pagination button:hover {
  background-color: #d373ff; /* Altera a cor de fundo quando o mouse está sobre o botão */
}



  @media screen and (min-width:373px){
    .pokemons{
      grid-template-columns: 1fr 1fr ;
  }
  }
  
  @media screen and (min-width:576px){
    .pokemons{
      grid-template-columns: 1fr 1fr 1fr;
  }
  }
  @media screen and (min-width:992px){
    .pokemons{
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
  
